
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
}

<div class="row pagina-sobre">
    <div class="col-md-4">
        <img class="img_logo_academia_grande" src="~/Contents/Imagens/logo_academia_grande.png">
    </div>
    <div class="col-md-8">
        <p>Com uma estrutura moderna, a <span class="cinza">Seven</span> <span class="vermelho">Day</span> <span class="cinza">Fitness</span> é o melhor lugar para a realização de todas as atividades físicas para você e sua família. São três andares, sendo cada um deles específico para as principais modalidades: ginástica, luta, musculação entre outros</p>
        <p>A <span class="cinza">Seven</span> <span class="vermelho">Day</span> <span class="cinza">Fitness</span> conta ainda com  ambientes totalmente climatizados, estacionamento próprio, vestiário masculino, feminino e também com uma sala específica para avaliação física.</p>
        <p>Nossa missão é atender a todos os alunos de forma eficiente e segura, proporcionando a maximização dos seus resultados desejados, em um curto período de tempo, com muita saúde e disciplina.</p>

        <div class="localizacao">
            <h1>Localização</h1>
            <h3>Endereço:</h3><p>Avenida Independencia, nº 1876 - Alto da Boa Vista</p>
            <br />
            <h3>Telefone:</h3><p>(16) 3602-6960</p>
            <p>Ribeirão Preto - SP | CEP: 14025-240</p>
        </div>
    </div>
</div>