.pagina-sobre
    img
        width: 80%
        display: table
        margin: auto
        border-radius: 5px

    p
        width:90%
        text-align: justify

.localizacao
    margin-top: 100px