// Fonte
// --------------------------------------------------
$roboto  = 'Roboto', sans-serif;
$light   = 300
$regular = 400

// Cores
// --------------------------------------------------
$branco      = #ffffff
$cinza-texto = #636366
$cinza-90    = #e6e6e6
$cinza-80    = #cccccc
$azul-40     = #0088cc
$azul-30     = #006699

// Media Queries
// --------------------------------------------------
$tela-pequena = 320px // Telas pequenas de largura até 320px
$tela-media   = 375px // Telas médias de largura até 375px
$tela-grande  = 425px // Telas grandes de largura até 425px