@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #636366;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  margin-bottom: 20px !important;
}
-moz-osx-font-smoothing: grayscale !important,
html {
  width: 100%;
  height: 100%;
}
.navbar .logotipo a {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.navbar img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px auto 20px auto;
}
.navbar .menu-horizontal-superior,
.navbar .menu-horizontal-inferior {
  display: none;
}
.navbar .menu-lateral {
  height: 100%;
  background-color: #08c;
  width: 260px;
  display: block;
  top: 0;
  left: 0;
  position: fixed !important;
  
}
.navbar .menu-lateral ul {
  display: block;
  list-style-type: none;
}
.navbar .menu-lateral ul li {
  width: 90%;
  background-color: rgba(255,255,255,0.15);
  margin: 10px auto 0px auto;
  border-radius: 5px;
}
.navbar .menu-lateral ul li:hover {
  transition: 0.1s linear;
  background-color: rgba(255,255,255,0.3);
}
.navbar .menu-lateral ul li i {
  display: block;
  float: left;
  font-size: 19px;
  color: #fff;
  padding: 2px 17px 0px 8px;
  font-weight: 300;
}
.navbar .menu-lateral ul li a {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
}
.navbar .menu-lateral a {
  color: #fff;
  text-decoration: none;
}
.navbar .icone-rodape {
  position: absolute;
  margin-left: 13px !important;
  bottom: 10px;
}
@media (max-width: 425px) {
  .navbar .menu-lateral {
    display: none;
  }
  .navbar .menu-horizontal-superior {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #08c;
  }
  .navbar .menu-horizontal-superior p {
    font-weight: 300;
    color: #fff;
    display: table;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 13px 0px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .navbar .menu-horizontal-superior a {
    display: block;
    float: right;
    padding: 12px 15px;
  }
  .navbar .menu-horizontal-superior a i {
    color: #fff;
    font-size: 25px;
  }
  .navbar .menu-horizontal-inferior {
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #08c;
  }
  .navbar .menu-horizontal-inferior > div {
    height: 100%;
    margin: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar .menu-horizontal-inferior i {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    display: table;
    margin: 5px auto;
  }
  .navbar .menu-horizontal-inferior p {
    font-size: 12.5px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
  }
}
.tab-atual {
  background-color: rgba(255,255,255,0.15);
  height: 100%;
}
.conteudo {
  margin-left: 300px;
  margin-top: 40px;
  margin-right: 40px;
}
@media (max-width: 425px) {
  .conteudo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 85%;
  }
}
.formulario-login {
  width: 300px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0px 3px 10px #ccc;
}
@media (max-width: 425px) {
  .formulario-login {
    width: 80%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 45%;
  }
}
@media (max-width: 375px) {
  .formulario-login {
    width: 85%;
    margin-top: 40%;
  }
}
@media (max-width: 320px) {
  .formulario-login {
    width: 100%;
    margin-top: 35%;
  }
}
.formulario-login i {
  font-size: 90px;
  display: table;
  margin: 10px auto 20px auto;
  color: #08c;
}
.formulario-login input {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  border-radius: 3px;
}
@media only screen and (max-width: 425px) {
  .formulario-login input {
    width: 100%;
  }
}
.formulario-login input[type="email"],
.formulario-login input[type="password"] {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
}
.formulario-login input[type="submit"] {
  background-color: #08c;
  border: 1px solid #069;
  height: 40px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
}
.mensagem-erro-login {
  display: table;
  margin: 0px auto 10px auto;
}
.mensagem-erro-login ul li {
  list-style-type: none;
  font-size: 15px;
  color: #f00;
}
.pagina-sobre img {
  width: 80%;
  display: table;
  margin: auto;
  border-radius: 5px;
}
.pagina-sobre p {
  width: 90%;
  text-align: justify;
}
.localizacao {
  margin-top: 100px;
}
.posicao-inicio,
.exercicio-inicio {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.posicao-inicio p:first-child,
.exercicio-inicio p:first-child {
  display: block;
  border-bottom: 1px solid #e6e6e6;
}
.posicao-inicio p,
.exercicio-inicio p {
  text-align: center;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 40px;
}
@media (max-width: 425px) {
  .posicao-inicio p,
  .exercicio-inicio p {
    padding-left: 5px;
    padding-right: 5px;
  }
}
